import Image from 'next/image';

export default function {{.CompName}}() {
  return (
    <div className="relative [@media(min-width:1024px)]:h-[{{.Height}}px] h-[calc({{.Height}}/{{.Width}}*100vw)] max-w-[1024px]">
      {{range $p := .Polygons}}<div>
        <a href="/{{$p.Link}}">
          <img
            alt="{{$p.Link}}"
            src="{{$p.Src}}"
            className="absolute hover:scale-105 transition duration-100 max-w-full w-auto [@media(min-width:1024px)]:left-[calc({{$p.Left}}/{{$.Width}}*{{$.MaxWidth}}px)] left-[calc({{$p.Left}}/{{$.Width}}*100vw)] [@media(min-width:1024px)]:top-[calc({{$p.Top}}/{{$.Width}}*{{$.MaxWidth}}px)] top-[calc({{$p.Top}}/{{$.Width}}*100vw)] [@media(min-width:1024px)]:h-[calc({{$p.Height}}/{{$.Width}}*{{$.MaxWidth}}px)] h-[calc({{$p.Height}}/{{$.Width}}*100vw)] [clip-path:polygon({{$p.PolyCP}})]"
          />
        </a>
      </div>
      {{end}}
    </div>
  );
}
