@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #111;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  @media (min-width: 64rem) { /* --breakpoint-lg = 64 rem */
    background-image: radial-gradient(#777 1.25px, transparent 1.25px),
    radial-gradient(#777 1.25px, transparent 1.25px);
    background-size: 32px 32px;
    background-position: -16px -16px, 0 0;
  }
}

.shadow-sides {
  box-shadow:
      0 0 100px 90px rgba(255, 255, 255, 1);
}